
.conteinerContact{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.titulo-contacto2 {
    display: flex;
    justify-content: center;
}

.titulo-contacto{
    display: flex;
    justify-content: center;
    width: 70%;
    border-radius: 15px;
    font-size: 40px;
    background-color: rgb(244, 241, 63);
    -webkit-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    -moz-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
}

.contenedor-contacto {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.contenedor-info1 {
    display: flex;
    flex-direction: column;
}

.fotoCallCenter {
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.contenedor-info2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
}

.contenedor-iconos{
    display: flex;
    align-items: center;
}

.icono-contacto {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.google-maps {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.googleMaps {
    width:800px;
    height:600px;
}

@media only screen and (max-width: 1430px){
    .fotoCallCenter {
        width: 450px;
        height: 450px;
    }

    .contenedor-iconos h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px){
    .fotoCallCenter {
        width: 400px;
        height: 400px;
    }

    .contenedor-iconos h2 {
        font-size: 18px;
    }

    .googleMaps {
        width:600px;
        height:400px;
    }
}

@media only screen and (max-width: 780px){
    .fotoCallCenter {
        width: 300px;
        height: 300px;
    }

    .contenedor-iconos h2 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 650px){

    .titulo-contacto {
        font-size: 30px;
    }
    .fotoCallCenter {
        display: none;
    }

    .contenedor-iconos h2 {
        font-size: 18px;
    }

    .googleMaps {
        width:500px;
        height:300px;
    }
}

@media only screen and (max-width: 500px){

    .titulo-contacto {
        font-size: 26px;
    }

    .contenedor-iconos h2 {
        font-size: 16px;
    }

    .icono-contacto {
        width: 25px;
        height: 25px;
    }

    .googleMaps {
        width:400px;
        height:300px;
    }
}

@media only screen and (max-width: 430px){

    .titulo-contacto {
        font-size: 22px;
    }

    .googleMaps {
        width:350px;
        height:300px;
    }
}

@media only screen and (max-width: 365px){

    .titulo-contacto {
        font-size: 20px;
    }

    .googleMaps {
        width:350px;
        height:300px;
    }
}