
.conteinerFusionTabs {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 70px;
    background-color: rgb(244, 208, 63);
}

.conteinerTabs {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    background-color: rgb(244, 208, 63);
}

.imagesTabs {
    width: 500px;
    height: 500px;
}

.tabs {
    align-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    background-color: rgb(244, 208, 63);
    border-radius: 15px 15px 0px 0px;
}

.tabs.active {
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px 0px 0px;
    -webkit-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    -moz-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
}

.conteinerInfoTabs {
    display: flex;
    margin: 20px;
}

.infoTabs p {
    margin: 10px;
    font-size: 18px;
}

@media only screen and (max-width: 1100px) {
    .imagesTabs {
        width: 400px;
        height: 400px;
    }

}

@media only screen and (max-width: 900px) {
    .conteinerInfoTabs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 550px) {
    .imagesTabs {
        width: 300px;
        height: 300px;
    }

    .tabs {
        justify-content: center;
    }
}

@media only screen and (max-width: 505px) {
    .tabs h2 {
        font-size: 16px;
    }

    .infoTabs p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 470px) {
    .tabs {
        padding-left: 10px;
        padding-right: 10px;
    }

    .infoTabs p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 380px) {
    .imagesTabs {
        width: 250px;
        height: 250px;
    }

    .infoTabs p {
        font-size: 12px;
    }

    .tabs h2 {
        font-size: 14px;
    }
}