
.conteinerInfoQuienes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoQuienesConteiner {
    width: 80%;
    font-size: 20px;
    -webkit-text-stroke: 1px rgba(173, 173, 173, 0.253);
}

.infoQuienesConteiner h1 {
    display: flex;
    justify-content: center;
    background-color: rgb(244, 241, 63);
    border-radius: 15px;
    -webkit-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    -moz-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
}

.infoQuienesConteiner h3 {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(244, 241, 63);
    -webkit-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    -moz-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
}

.titulo-h3 {
    display: flex;
}

.infoQuienesConteiner h2 {
    display: flex;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(244, 241, 63);
    -webkit-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    -moz-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
}

.fotoEdicosa {
    width: 500px;
    height: 500px;
}

.reales {
    display: flex;
}

.reales2 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.reales2 h3 {
    margin-bottom: 20px;
}

.maquinasReales {
    display: flex;
}

.maquinasReales2 {
    display: flex;
    flex-direction: column;
}

.fotoEdicosa2 {
    width: 500px;
    height: 500px;
    margin-left: 40px; 
}