
.conteinerInfoQuienes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoQuienesConteiner {
    width: 80%;
    font-size: 20px;
    -webkit-text-stroke: 1px rgba(173, 173, 173, 0.253);
}

.infoQuienesConteiner h1 {
    display: flex;
    justify-content: center;
    background-color: rgb(244, 241, 63);
    border-radius: 15px;
    -webkit-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    -moz-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
}

.infoQuienesConteiner h3 {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(244, 241, 63);
    -webkit-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    -moz-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
}

.titulo-h3 {
    display: flex;
}

.infoQuienesConteiner h2 {
    display: flex;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(244, 241, 63);
    -webkit-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    -moz-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
}

.fotoEdicosa {
    width: 500px;
    height: 500px;
}

.reales {
    display: flex;
}

.reales2 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.reales2 h3 {
    margin-bottom: 20px;
}

.maquinasReales {
    display: flex;
}

.maquinasReales2 {
    display: flex;
    flex-direction: column;
}

.fotoEdicosa2 {
    width: 500px;
    height: 500px;
    margin-left: 40px; 
}

@media only screen and (max-width: 1200px) {
    .fotoEdicosa {
        width: 400px;
        height: 400px;
    }

    .fotoEdicosa2 {
        width: 400px;
        height: 400px;
    }
}

@media only screen and (max-width: 1000px) {
    .infoQuienesConteiner {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .reales2{
        margin-left: 0px;
    }

    .reales {
        flex-direction: column;
    }

    .maquinasReales {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .infoQuienesConteiner h1 {
        font-size: 34px;
    }

    .fotoEdicosa2 {
        margin: 0px;
    }

    .fotoEdicosa {
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 510px) {
    .fotoEdicosa {
        width: 350px;
        height: 350px;
    }

    .fotoEdicosa2 {
        width: 350px;
        height: 350px;
    }
}

@media only screen and (max-width: 425px) {
    .fotoEdicosa {
        width: 300px;
        height: 300px;
    }

    .fotoEdicosa2 {
        width: 300px;
        height: 300px;
    }
}