
.productsContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 70px;
}

.title h2 {
    font-size: 50px;
    color: rgb(230, 186, 42);
    -webkit-text-stroke: 1px rgba(173, 173, 173, 0.253);
}

.title h3 {
    padding: 10px;
    background-color: rgb(244, 208, 63);
    margin-bottom: 0;
    border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    border: 0px solid #000000;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
}

.product-item {
    text-align: center;
}

.product-item:hover {
    background-color: rgb(244, 208, 63);
    border-radius: 15px;
    -webkit-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    -moz-box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
    box-shadow: inset 0px 0px 32px -14px rgba(99,99,99,1);
}

.product-image {
    width: 100%;
    max-width: 80px;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.product-name {
    font-size: 14px;
    margin: 0;
}

.product-name h1 {
    margin-bottom: 0px;
}

@media only screen and (max-width: 500px) {
    .productsGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 20px;
    }

    .product-image {
        max-width: 60px;
    }
    
    .product-name {
        font-size: 10px;
        margin: 0;
    }
}

@media only screen and (max-width: 385px) {

    .title h2 {
        font-size: 40px;
        color: rgb(230, 186, 42);
        -webkit-text-stroke: 1px rgba(173, 173, 173, 0.253);
    }
    
    .title h3 {
        font-size: 18px;

    }

    .productsGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
        gap: 20px;
    }

    .product-image {
        max-width: 50px;
    }
    
    .product-name {
        font-size: 10px;
        margin: 0;
    }
}