
.conteinerZContact2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.conteinerLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.conteinerZContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 50px;
}

.conteinerZContact h1 {
    margin: 0;
}

.conteinerZContact p {
    margin: 5px;
}

.logoEdicosa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 450px;
}

.contactLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactLogo p {
    font-size: 20px;
}

.conteinerZContact p {
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.logoContact {
    width: 20px;
    height: 25px;
    margin: 10px;
}

@media only screen and (max-width:860px) {
    .conteinerZContact h1,h2,p {
        font-size: 19px;
    }

    .conteinerZContact p {
        font-size: 16px;
    }

    .conteinerZContact {
        margin: 10px;
    }

    .logoEdicosa {
        height: 130px;
        width: 330px;
    }
}

@media only screen and (max-width: 780px) {
    .conteinerZContact h1,h2,p {
        font-size: 18px;
    }

    .conteinerZContact p {
        font-size: 14px;
    }

    .logoEdicosa {
        height: 100px;
        width: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .conteinerZContact2 {
        flex-direction: column;
    }

    .conteinerZContact {
        margin: 5px;
    }

    .conteinerZContact p{
        margin: 5px;
    }
}